.form_container {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  form {
    margin-top: 10em;
    .form_title {
    }
    .form_content {
    }
  }
}
